.container-fluid{
    height: 50%;
    background-color: beige;
}

.header-container{
    z-index: 999;
    background-color: red;
    
}

.login-btn,.search-bar{
    height:5vh;
}
.search-bar .input{
    width:900px;
    height: 100%;
}
.login{
    display: flex;
    justify-content: center; /* horizontally center the content */
    align-items: center; 

}

 