.sidebar {
    position: fixed;
    top: 3%;
    right: -690px;  
    height: 100%;
    width: 50vw;
    background-color: #f0f0f0;
    transition: right 0.4s ease-in-out;
    height: 93vh;
    z-index: 999;
  }
  
  .sidebar.open {
    right: 0; /* Show it on the right side */
  }
  
  .content {
    height: 100%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .toggle-button {
    position: absolute;
    top: 50%;
    right: 700px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  