:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
  }

.input_class{
    display: relative;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    width:600px
}

.expand-btn{
  padding-left: 1%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.task-number {
  width: 3vw;
  height: 40px;
  margin-left: 1%;
  display: flex;
  justify-content: center;  
  align-items: end;  
}

.task-number p{
  
  margin-bottom: 0px;
}