:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
  }
/* Header component */


/* task component styling */
.input_class{
    display: relative;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    width:600px
}


/* tasklist component styling */
.day-task-wrapper{
    margin: 1%;
}

.underline {
    border: none;
    border-bottom: 1px solid black; /* Change the color as needed */
    outline: none;
    width: 100%;
    font-size: 1.5rem;
}

